@import "variables.less";

toolbar-bonaparte {
  position:relative;
  background-color:red;
  overflow:hidden;
  display: flex;  
  flex-flow: row;
}

toolbar-bonaparte > *:nth-child(1){
  background-color:teal;
  flex:0 0;
  flex-basis:4rem;
  z-index:20;
  height:auto;
  width:auto;
}

toolbar-bonaparte > *:nth-child(2){
  background-color:tomato;
  flex:1 auto;
  order:3;
  z-index:0;
  height:auto;
  width:auto;
}

/*SIDEBAR*/

toolbar-bonaparte[data-sidebar="left"],
toolbar-bonaparte[sidebar="left"] {
  flex-direction: row;
}

toolbar-bonaparte[data-sidebar="right"],
toolbar-bonaparte[sidebar="right"] {
  flex-direction: row-reverse;
}

toolbar-bonaparte[data-sidebar="top"],
toolbar-bonaparte[sidebar="top"] {
  flex-direction: column;
}

toolbar-bonaparte[data-sidebar="bottom"],
toolbar-bonaparte[sidebar="bottom"] {
  flex-direction: column-reverse;
}

toolbar-bonaparte[data-cornerstone*="top"][data-cornerstone*="left"],
toolbar-bonaparte[cornerstone*="top"][cornerstone*="left"] {
  
  &[data-sidebar="left"] > *:nth-child(1),
  &[sidebar="left"] > *:nth-child(1) {
    padding-top:4rem;
  }  

  &[data-sidebar="top"] > *:nth-child(1),
  &[sidebar="top"] > *:nth-child(1) {
    padding-left:4rem;
  }
}

toolbar-bonaparte[data-cornerstone*="top"][data-cornerstone*="right"],
toolbar-bonaparte[cornerstone*="top"][cornerstone*="right"] {
  
  &[data-sidebar="right"] > *:nth-child(1),
  &[sidebar="right"] > *:nth-child(1) {
    padding-top:4rem;
  }  

  &[data-sidebar="top"] > *:nth-child(1),
  &[sidebar="top"] > *:nth-child(1) {
    padding-right:4rem;
  }
}

toolbar-bonaparte[data-cornerstone*="bottom"][data-cornerstone*="right"],
toolbar-bonaparte[cornerstone*="bottom"][cornerstone*="right"] {
  
  &[data-sidebar="right"] > *:nth-child(1),
  &[sidebar="right"] > *:nth-child(1) {
    padding-bottom:4rem;
  }  

  &[data-sidebar="bottom"] > *:nth-child(1),
  &[sidebar="bottom"] > *:nth-child(1) {
    padding-right:4rem;
  }
}

toolbar-bonaparte[data-cornerstone*="bottom"][data-cornerstone*="left"],
toolbar-bonaparte[cornerstone*="bottom"][cornerstone*="left"] {
  
  &[data-sidebar="left"] > *:nth-child(1),
  &[sidebar="left"] > *:nth-child(1) {
    padding-bottom:4rem;
  }  

  &[data-sidebar="bottom"] > *:nth-child(1),
  &[sidebar="bottom"] > *:nth-child(1) {
    padding-left:4rem;
  }
}

/*CORNERSTONE*/

cornerstone-bonaparte {  
  position:absolute;
  display:block;
  background-color:purple;
  width:4rem;
  height:4rem;
  top:0px;
  left:0px;
  z-index:20;

}

toolbar-bonaparte[data-cornerstone*="bottom"],
toolbar-bonaparte[cornerstone*="bottom"] {

  cornerstone-bonaparte {
    bottom:0px;
    top:auto;
  }
}

toolbar-bonaparte[data-cornerstone*="top"],
toolbar-bonaparte[cornerstone*="top"] {

  cornerstone-bonaparte {
    top:0px;
    bottom:auto;
  }
}

toolbar-bonaparte[data-cornerstone*="left"],
toolbar-bonaparte[cornerstone*="left"] {

  cornerstone-bonaparte {
    left:0px;
    right:auto;
  }
}

toolbar-bonaparte[data-cornerstone*="right"],
toolbar-bonaparte[cornerstone*="right"] {

  cornerstone-bonaparte {
    right:0px;
    left:auto;
  }
}


/*CORNERSTONE OUTSIDE*/

toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone^="right"],
toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone~="right"][data-cornerstone$="top"],
toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone~="right"][data-cornerstone$="bottom"],
toolbar-bonaparte[cornerstone~="outside"][cornerstone^="right"],  
toolbar-bonaparte[cornerstone~="outside"][cornerstone~="right"][cornerstone$="top"],
toolbar-bonaparte[cornerstone~="outside"][cornerstone~="right"][cornerstone$="bottom"]{
  padding-right:4rem;
}

toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone^="left"],
toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone~="left"][data-cornerstone$="top"],
toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone~="left"][data-cornerstone$="bottom"],
toolbar-bonaparte[cornerstone~="outside"][cornerstone^="left"],  
toolbar-bonaparte[cornerstone~="outside"][cornerstone~="left"][cornerstone$="top"],
toolbar-bonaparte[cornerstone~="outside"][cornerstone~="left"][cornerstone$="bottom"]{
  padding-left:4rem;
}

toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone^="top"],
toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone~="top"][data-cornerstone$="left"],
toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone~="top"][data-cornerstone$="right"],
toolbar-bonaparte[cornerstone~="outside"][cornerstone^="top"],  
toolbar-bonaparte[cornerstone~="outside"][cornerstone~="top"][cornerstone$="left"],
toolbar-bonaparte[cornerstone~="outside"][cornerstone~="top"][cornerstone$="right"]{
  padding-top:4rem;
}

toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone^="bottom"],
toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone~="bottom"][data-cornerstone$="left"],
toolbar-bonaparte[data-cornerstone~="outside"][data-cornerstone~="bottom"][data-cornerstone$="right"],
toolbar-bonaparte[cornerstone~="outside"][cornerstone^="bottom"],  
toolbar-bonaparte[cornerstone~="outside"][cornerstone~="bottom"][cornerstone$="left"],
toolbar-bonaparte[cornerstone~="outside"][cornerstone~="bottom"][cornerstone$="right"]{
  padding-bottom:4rem;
}
