@import "~bonaparte-sidebar/bonaparte.less";

/*///////////////////////////////////////////////////////////////////////////*/

bonaparte-toolbar {
  
  .bonaparte-toolbar();

}

/*///////////////////////////////////////////////////////////////////////////*/

.bonaparte-toolbar(
  @overrides:{.variables(){}},
  @icon-size : 4rem,
  @default-open : 10rem,
  @default-closed : 0rem
){

  @overrides();
  .variables();

  .sidebar-bonaparte(@overrides);   

  &[data-sidebar="top"],
  &[sidebar="top"],
  &[data-sidebar="bottom"],
  &[sidebar="bottom"] {
    > :nth-child(1) * {
      white-space:nowrap;
    }
  }
  
}