@import "../structure/toolbar-bonaparte.less";

/*SIZES*/
toolbar-bonaparte {



/*////////////////////////////////*/  
  .toolbar-bonaparte();
/*////////////////////////////////*/  

  background-color:red;

  > cornerstone-bonaparte {  
    background-color:purple;
  }

  > :nth-child(1){
    background-color:teal;
  }

  > :nth-child(2){
    background-color:tomato;
  }


}

toolbar-bonaparte.massive {  


/*////////////////////////////////*/  
  .toolbar-bonaparte({
    .variables(){
      @baseSize : 6rem;
    }
  });
/*////////////////////////////////*/  

}