toolbar-bonaparte {
  position: relative;
  background-color: red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
/*
toolbar-bonaparte[display="cover"] {
  height:100%;
}
*/
content-bonaparte {
  display: block;
  background-color: yellow;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
  padding: 1rem;
}
/*SIDEBAR*/
sidebar-bonaparte {
  display: block;
  background-color: teal;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
toolbar-bonaparte[sidebar="left"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
toolbar-bonaparte[sidebar="left"] sidebar-bonaparte {
  width: 4rem;
}
toolbar-bonaparte[sidebar="right"] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
toolbar-bonaparte[sidebar="right"] sidebar-bonaparte {
  width: 4rem;
}
toolbar-bonaparte[sidebar="top"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
toolbar-bonaparte[sidebar="top"] sidebar-bonaparte {
  height: 4rem;
}
toolbar-bonaparte[sidebar="bottom"] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
toolbar-bonaparte[sidebar="bottom"] sidebar-bonaparte {
  height: 4rem;
}
/*CORNERSTONE*/
cornerstone-bonaparte {
  position: absolute;
  display: block;
  background-color: purple;
  width: 4rem;
  height: 4rem;
  top: 0px;
  left: 0px;
  z-index: 99;
}
toolbar-bonaparte[cornerstone~="bottom"] cornerstone-bonaparte {
  bottom: 0px;
  top: auto;
}
toolbar-bonaparte[cornerstone~="top"] cornerstone-bonaparte {
  top: 0px;
  bottom: auto;
}
toolbar-bonaparte[cornerstone~="left"] cornerstone-bonaparte {
  left: 0px;
  right: auto;
}
toolbar-bonaparte[cornerstone~="right"] cornerstone-bonaparte {
  right: 0px;
  left: auto;
}
/*PANEL*/
panel-bonaparte,
panel-bonaparte[position="left"] {
  display: block;
  background-color: #ffffff;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
  width: 200px;
  opacity: 0.70;
}
panel-bonaparte[position="right"] {
  width: 200px;
  opacity: 0.70;
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}
panel-bonaparte[position="top"] {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
}
panel-bonaparte[position="top"] {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
  width: 100%;
}
