.panel-bonaparte(
    @transition-duration: 500ms,
    @transition-easing: cubic-bezier(0.12, 0.38, 0.4, 0.98),
    @default-size: 300px
){
  .variableOverrides();

  & {
    display: none;
    position:absolute;
    border:0;
    overflow:hidden;

    z-index:10;

    transition:transform @transition-duration @transition-easing;

  }

  &[data-open="true"],
  &[open="true"] {
    z-index:11;
    transform: translateZ(0);
  }

  &[data-stayOpen="true"],
  &[stayOpen="true"] {
    z-index:8;
  }

  &[data-position~="left"],
  &[position~="left"] {
    display:block;
    height:100%;
    top:0px; 
    border:0;

    width:@default-size;
    right:100%;

    &[data-open="true"],
    &[open="true"] {
      transform:translateX(100%);
    }
  }

  &[data-position~="right"],
  &[position~="right"]{
    display:block;
    height:100%;
    top:0px; 
    
    width:@default-size;
    left:100%;

    &[data-open="true"],
    &[open="true"] {
      transform:translateX(-100%);
    }
  }


  &[data-position~="top"],
  &[position~="top"]{
    display:block;
    width:100%;
    left:0px;

    height:@default-size;
    bottom:100%;

    &[data-open="true"],
    &[open="true"] {
      transform:translateY(100%);

    }
  }


  &[data-position~="bottom"],
  &[position~="bottom"]{
    display:block;
    width:100%;
    bottom:0px;
    left:0px;

    height:@default-size;
    top:100%;

    &[data-open="true"],
    &[open="true"] {
      transform:translateY(-100%);
    }
  }
}