@import "sidebar-bonaparte.less";
.toolbar-bonaparte(
  @overrides:{.variables(){}},
  @icon-size : 4rem ,
  @default-size : 200px
){

  @overrides();
  .variables();

  .sidebar-bonaparte(@overrides);   

  /* standard toolbar size */
  &[data-sidebar="left"],
  &[sidebar="left"],
  &[data-sidebar="right"],
  &[sidebar="right"] {
    > :nth-child(1){
     width:@icon-size;
    }
  }

  &[data-sidebar="top"],
  &[sidebar="top"],
  &[data-sidebar="bottom"],
  &[sidebar="bottom"] {
    > :nth-child(1){
     height:@icon-size;
    }
  }  

  /* open toolbar size */

  &[data-open="true"],
  &[open="true"] {
    &[data-sidebar="left"],
    &[sidebar="left"],
    &[data-sidebar="right"],
    &[sidebar="right"] {
      > :nth-child(1){
       width:@default-size;
      }
    }

    &[data-sidebar="top"],
    &[sidebar="top"],
    &[data-sidebar="bottom"],
    &[sidebar="bottom"] {
      > :nth-child(1){
       height:@default-size;
      }
    }  
  }



 
  /*CORNERSTONE*/

  > cornerstone-bonaparte {  
    position:absolute;
    display:block;
    width:@icon-size;
    height:@icon-size;
    top:0px;
    left:0px;
    z-index:20;

  }

  &[data-cornerstone*="bottom"],
  &[cornerstone*="bottom"] {

    > cornerstone-bonaparte {
      bottom:0px;
      top:auto;
    }
  }

  &[data-cornerstone*="top"],
  &[cornerstone*="top"] {

    > cornerstone-bonaparte {
      top:0px;
      bottom:auto;
    }
  }

  &[data-cornerstone*="left"],
  &[cornerstone*="left"] {

    > cornerstone-bonaparte {
      left:0px;
      right:auto;
    }
  }

  &[data-cornerstone*="right"],
  &[cornerstone*="right"] {

    > cornerstone-bonaparte {
      right:0px;
      left:auto;
    }
  }

}